* {
  box-sizing: border-box;
  transition: all ease 0.5s;
}

body {
  min-height: 100vh;
  overflow-y: scroll; /* Asegura que el contenido sea desplazable */
}

html {
  scrollbar-width: none; /* Para navegadores basados en Firefox */
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html::-webkit-scrollbar {
  display: none; /* Para navegadores basados en WebKit (Chrome, Edge, Safari) */
}

#root {
  min-height: 100vh;
}

/* @media (orientation: landscape) {
  body::before {
    content: "Por favor, gira tu dispositivo a posición vertical.";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
  }
}
  */

@import "tailwindcss";

@theme {
  --background-color-main: #fbf9f1; /*clase: bg-main2 */
  --background-color-main2: #fcfaf2; /*clase: bg-main2 */
  --height-main: 77vh; /* clase: h-main */
}
