header{
    border: 1px dashed black;
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: coral;
}
.cajaderecha, .central, .cajaizquierda{
    border: 1px solid black;
    aspect-ratio: 1;
    height: 80%;
}

